/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid, .fa-regular {
    color: var(--main-color);
}

body {
    background-color: #ffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-container {
    width: 100%;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

/****** Accommodation And Popular ***********/
.accommodation-and-popular {
    display: flex;
    justify-content: space-between;
}

.accommodation-and-popular section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Accommodation ***********/
.accommodation {
    width: 65%;
}

/****** Popular ***********/
.popular {
    width: 32%;
}

.popular-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular-cards .card {
    display: flex;
    margin-top: 33px;
}

.popular-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.popular-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.popular-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.popular-cards .card-subtitle {
    margin: 0;
}

.popular-cards .card-rating {
    margin-bottom: 5px;
}
/****** footer ***********/

footer{
    background-color: #F2F2F2	;
    margin: 30px;

}
.footer-container{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;

}
footer ul{
    list-style-type: none;
    

}
a {
    color: black;
    text-decoration: none;
    line-height: 1.9em;
   
}
header ul{
        list-style: none;
        display: flex;
        gap: 20px;
     
    
}
.logo-container{
    display: flex;
    justify-content: space-between;
   

}
.main-logo{
    padding: 25px;
    padding-left: 0px;
    width: 65px;
    height: 20px;
}

header li a:hover, li a :focus, .active {
    color: #0065FC;
    border-top: 3px solid blue;
    padding-top: 20px;

}
 .search-icon{
    background-color: #D9D9D9;
    border-radius: 8px 0px 0px 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 28px;
    border-right: 0px;

    
}
.search-button{
    background-color: #0065FC;
    color: white;
    border-radius: 0px 8px 8px 0px;
    height: 30px;
    width: 70px;
    border: 0px;
    font-weight: bold;
}
::placeholder{
    font-weight: bold;
    color: black;
}
    .pin-icon{
        width: 13px;
        height: 12px;
    }
input{
    height: 30px;
    border-color: #D9D9D9;
    border-right: none;
   
}
.search-form{
    display: flex;
}
.filters-container{
    display:flex;
    gap: 20px;
    font-weight: bold;
    margin: 30px;
  }

  button{
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border-radius: 30px;
    background-color: white;
    border: 2px solid #D9D9D9 ;
  }
  button:hover{
    background-color: #DEEBFF;
  }

  /*
  .btn-budget{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border-radius: 30px;
    background-color: white;
    border-color: #D9D9D9;
    width: 120px;
  }
  .btn-family{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border-radius: 30px;
    width: 180px;
    background-color: white;
    border-color: #D9D9D9;
  }
  .btn-romantic{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border-radius: 30px;
    width: 140px;
    background-color: white;
    border-color: #D9D9D9;
}

.btn-romantic:hover{
    background-color: #DEEBFF;
}
.btn-pinks{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border-radius: 30px;
    width: 150px;
    background-color: white;
    border-color: #D9D9D9;

}
*/
.available-places{
    display: flex;
    justify-content: space-between;

}
.icon-container{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid;
    border-color: #D9D9D9;
    border-radius: 50%;
    width: 24px;
    height: 24px;

}
.places-to-stay{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

}
  